*.pyc
*DS_Store
*.egg-info
*~
/example/dev.db
/docs/_build/
/pip-log.txt
/static/js/*.r*.js
/static/css/*.r*.css
/xgds_plot/build
/xgds_plot/notebook/profile_default/ipython_notebook_config.py
/xgds_plot/notebook/nbextensions/mathjax/
migrations/
