{% extends "base.html" %}
{% load nav %}
{% block siteSection %}Plots{% endblock %}

{% block cssExtras %}
  {{ block.super }}

  <style type="text/css">
    #placeholder .button {
        position: absolute;
        cursor: pointer;
    }
    #placeholder div.button {
        font-size: smaller;
        color: #999;
        background-color: #eee;
        padding: 2px;
    }
    .message {
        padding-left: 50px;
        font-size: smaller;
    }
    .flotPlot {
        width: 1000px;
        height: 150px;
        margin-bottom: 10px;
    }
    .controlPanel {
        vertical-align: top;
    }
    .platformControl, .variableControl {
        margin-left: 15px;
        width: 350px;
    }
    .platformControl {
        font-weight: bold;
    }
    .plotControl input, label {
        cursor: pointer;
    }
    html, body {
        height: 100%;
    }
    .controlButton {
        cursor: pointer;
        margin-right: 10px;
    }
    .controlSectionHeader {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .mainPanel {
        vertical-align: top;
    }
    #socketStatus {
        margin-top: 10px;
        display: none;
    }
    #plots {
        margin-top: 10px;
    }
    .plotInfo {
        margin-left: 15px;
    }
    #timeInterval {
        padding-left: 15px;
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ block.super }}

  <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}external/js/jquery.flot.js"></script>
  <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}external/js/jquery.flot.navigate.js"></script>
  <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}external/js/jquery.flot.symbol.js"></script>
  <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}external/js/jquery.flot.threshold.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}geocamUtil/js/zmq.js"></script>
  <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}xgds_plot/js/xgds_plot.js"></script>
{% endblock %}

{% block jsSetVars %}
  {{ block.super }}

  settings = {{ settings|safe }};
  requestParams = {{ requestParams|safe }};
{% endblock %}

{% block jsInit %}
  {{ block.super }}

  $(function () {
      xgds_plot.init();
  });
{% endblock jsInit %}

{% block contents %}						
  <table class="bodyTable" ><tr>
  <td class="mainPanel">
  <div id="topControls">
    <span id="liveModeControl"></span>
    <span id="socketStatus"></span>
    <span id="timeInterval">
      <span id="tmin"></span>
      ...
      <span id="tmax"></span>
    </span>
  </div>
  <div id="plots"></div>
    <div class="flotPlot"></div>
  </td>

  <td class="controlPanel">
    <div class="controlSectionHeader">Plots</div>
    <div id="plotControls"></div>
  </td>
  </tr></table>
{% endblock %}
