{% extends "base.html" %}
{% load nav %}
{% block siteSection %}Profiles{% endblock %}

{% block cssExtras %}
  {{ block.super }}

  <style type="text/css">
  </style>
{% endblock %}

{% block scripts %}
  {{ block.super }}

{% endblock %}

{% block jsSetVars %}
  {{ block.super }}

{% endblock %}

{% block jsInit %}
  {{ block.super }}

{% endblock jsInit %}

{% block contents %}

<div style="margin-top: 5px;">&nbsp;</div>

<form action="." method="get">
<div>
  <b>Time range:</b>
  <input type="text" name="start" value="{{ minDisplayTime }}"/>
  ..
  <input type="text" name="end" value="{{ maxDisplayTime }}"/>
  {{ displayTimeZone }}
  <input type="submit" name="submit" value="Change"/>
</div>
</form>

{% for p in profiles %}
  <div style="margin-top: 5px;">{{ p.name }}</div>
  <img src="{% url xgds_plot_profileRender p.valueCode %}?start={{ minTime }}&end={{ maxTime }}"/>
{% endfor %}

{% endblock %}
