{% extends "base.html" %}
{% load url from future %}
{% load nav %}
{% block siteSection %}Profiles{% endblock %}

{% block cssExtras %}
  {{ block.super }}

  <style type="text/css">
  </style>
{% endblock %}

{% block scripts %}
  {{ block.super }}

{% endblock %}

{% block jsSetVars %}
  {{ block.super }}

{% endblock %}

{% block jsInit %}
  {{ block.super }}

{% endblock jsInit %}

{% block contents %}

<div style="margin-top: 5px;">&nbsp;</div>

<form action="." method="get">
<div>
  <b>Time range:</b>
  <input type="text" name="start" value="{{ minDisplayTime }}"/>
  ..
  <input type="text" name="end" value="{{ maxDisplayTime }}"/>
  {{ displayTimeZone }}
  <input type="hidden" name="pts" value="0"/><!-- set value if checkbox below is not checked -->
  <input type="checkbox" id="pts" name="pts" value="1" {% if showSamplePoints %}checked="1"{% endif %}/>
  <label for="pts">Show sample points</label>
  <input type="submit" name="submit" value="Change"/>
</div>
</form>

{% for p in profiles %}
  <div style="margin-top: 5px;">
    {{ p.name }}
    &nbsp;&nbsp;
    <a href="{% url 'xgds_plot_profileCsv' p.valueCode %}?start={{ minTime }}&end={{ maxTime }}&fill=0">[sparse csv]</a>
    &nbsp;&nbsp;
    <a href="{% url 'xgds_plot_profileCsv' p.valueCode %}?start={{ minTime }}&end={{ maxTime }}&fill=1">[filled-in csv]</a>
  </div>
  <img src="{% url 'xgds_plot_profileRender' p.valueCode %}?start={{ minTime }}&end={{ maxTime }}&pts={{ showSamplePoints }}"/>
{% endfor %}

{% endblock %}
