{% extends "base.html" %}
{% load nav %}
{% block siteSection %}Plots{% endblock %}

{% block cssExtras %}
  {{ block.super }}

  <style type="text/css">
  </style>
{% endblock %}

{% block scripts %}
  {{ block.super }}

{% endblock %}

{% block jsSetVars %}
  {{ block.super }}

{% endblock %}

{% block jsInit %}
  {{ block.super }}

{% endblock jsInit %}

{% block contents %}

<div style="margin-top: 5px;">&nbsp;</div>

{% for p in profiles %}
<div style="margin-top: 5px;">{{ p.name }}</div>
<img src="{% url xgds_plot_profileRender p.valueCode %}"/>
{% endfor %}

{% endblock %}
